
.header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
    /* border: 1px solid red; */

}

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.header__menu--navigation {
    display: none;
}


.header__bars {
    color: var(--clr-dark);
    display: block;
    min-width: var(--size-4xL);
    min-height: var(--size-4xL);;
}


/* xs */
/* @media (min-width: 475px) { } */

/* sm */
/* @media (min-width: 640px) { } */

/* md */
@media (min-width: 768px) {

    .header__bars {
        display: none;
    }
    
    .header__menu--navigation {
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 2em;

    }
    
    .header__submenu {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        list-style: none;
        gap: 1em;
        align-items: flex-start;
    }

    .header__link {
        cursor: pointer;
        font-size: var(--size-xs);
        text-decoration: none;
        font-weight: 600;
        color: #44403E;
        letter-spacing: -0.05em;
        transition: color 0.3s;
        white-space: nowrap;
    }
    
    .header__link:hover {
        color: var(--clr-orange600);
    }
    
      
    .header__contact {
        font-size: var(--size-sm);
        white-space: nowrap;
    }
}

/* lg */
@media (min-width: 1024px) {

    .header__link {
        font-size: var(--size-sm);
    }
        
    .header__contact {
        font-size: var(--size-sm);
    }
}

/* xL */
@media (min-width: 1280px) {
    .header__link {
        font-size: var(--size-base);
    }
        
    .header__contact {
        font-size: var(--size-base);
    }
}

/* 2xL */
/* @media (min-width: 1536px) {} */