.header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
    z-index: 9999;
    align-self: flex-start;
    /* border: 1px solid red; */

}

.header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
}

.header__menu--navigation {
    display: none;
}


.header__bars {
    color: var(--clr-light);
    display: block;
    min-width: var(--size-4xL);
    min-height: var(--size-4xL);
    ;
}


/* xs */
/* @media (min-width: 475px) { } */

/* sm */
/* @media (min-width: 640px) { } */

/* md */
@media (min-width: 768px) {

    .hamburger {
        display: none;
    }

    .header__menu--navigation {     
        align-self: center;
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        list-style: none;
        text-align: center;

    }


    .header__link {
        cursor: pointer;
        font-size: var(--size-xs);
        text-decoration: none;
        color: var(--clr-light);
        white-space: nowrap;
        background: transparent;
        position: relative;
        z-index: 2;
        transition: .2s ease;
      }

    .header__link:hover {
        font-weight: 600;
    }

    .header__link::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 2px;
        width: 0;
        background-color: var(--clr-light);
        transition: .5s ease;
        z-index: inherit;

    }



    .header__link:hover::before {
        width: 100%;
    }


    .header__inscricao {
        font-size: var(--size-xs);
        white-space: nowrap;

    }
}

/* lg */
@media (min-width: 1024px) {

    .header__link {
        font-size: var(--size-sm);
    }

    .header__inscricao {
        font-size: var(--size-sm);
    }
}

/* xL */
@media (min-width: 1280px) {
    .header__link {
        font-size: var(--size-base);
    }

    .header__inscricao {
        font-size: var(--size-base);
    }
}

/* 2xL */
/* @media (min-width: 1536px) {} */