.programacao {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 7rem;
    padding-bottom: 6rem;

}

.programacao__content--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}

.programacao__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem;   
}

.programacao__title {
    color: var(--clr-orange);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.13rem;
    font-size: var(--size-lg);
}

.programacao__title:before {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2px;
    margin-top: 5px;
    margin-right: 1rem;
    margin-bottom: 5px;
    background-color: var(--clr-orange);
}

.programacao__subtitle {
    color: var(--clr-dark);
    font-weight: 700;
    font-size: var(--size-2xL);
    max-width: 30ch;

}

.programacao__link {
    font-size: var(--size-sm);
}

.programacao__description {
    color: var(--clr-slate800);
    font-weight: 400;
    font-size: var(--size-sm);
    text-align: center;
    color: rgb(179, 179, 179);
    padding-top: 2rem;

}

.programacao__divider {
    width: 35ch;
    border-color: var(--clr-blue);
}

.programacao__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding-left: 0;
    gap: 1rem;
    font-weight: 700;
    font-size: var(--size-sm);
    color: var(--clr-slate800);

}

.programacao__tabs{
    padding: 1rem;
}

.programacao__section {
  display: none;
  padding: 2rem 1rem 0 0;
  border-top: 1px solid #ddd;
  font-size: var(--size-sm);
}

.programacao__input {
  display: none;
}

.programacao__label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 1rem 1.2rem;
  font-weight: 600;
  font-size: var(--size-xs);
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

.programacao__label:hover {
  color: var(--clr-dark);
  cursor: pointer;
}

.programacao__input:checked + .programacao__label {
  color: var(--clr-dark);
  border: 1px solid #ddd;
  border-top: 2px solid var(--clr-orange);
  border-bottom: 1px solid var(--clr-light);
}

#dia1:checked ~ #conteudodia1,
#dia2:checked ~ #conteudodia2 {
  display: block;
 
}

.programacao__lista--item {
    padding-top: 0.5rem;
}


.programacao__description {
    color: var(--clr-slate800);
    font-weight: 400;
    font-size: var(--size-base);
    text-align: left;
    align-self: flex-start;   
}

.programacao__acordeao {
    background-color: #eee;
    cursor: pointer;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: var(--size-base);
    transition: 0.4s;

}

.programacao__texto {
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: var(--size-base);
}
.programacao__acordeao--ativo,
.programacao__acordeao:hover {
    background-color: #ccc;
}

.programacao__acordeao:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin: auto 5px auto auto;
}

.programacao__acordeao--ativo:after {
    content: "\2212";
}

.programacao__painel {
    padding: 0rem 1rem 0rem 1rem;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}



 /* xs (gap:1.5rem)*/
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    
    .programacao__content--wrapper {
        flex-direction: row;
    }

    .programacao__content {
        gap: 1.5rem;
    }
    
    .programacao__img--wrapper {
        min-width: 30%;
    }
    
    .programacao__title {
        font-size: var(--size-2xL);
    }

    .programacao__title:before {
        height: 3px;
        width: 3rem;
        margin-right: 1.5rem;
        margin-bottom: .4rem;
    }
    
    .programacao__subtitle {
        font-size: var(--size-2xL);
    }
    
    .programacao__description {
        font-size: var(--size-base);
    }


    .programacao__link {
        font-size: var(--size-base);
    }

    .programacao__info {
        gap: 1rem;
        font-size: var(--size-base);    
    }
    
    
    .programacao__info--item svg {
        width: var(--size-2xL);
        height: var(--size-2xL);    
    }

    .programacao__section {
        font-size: var(--size-base);
    }

    .programacao__label {
        padding: 1rem 2rem;
        font-size: var(--size-base);
      }
  
      .programacao__lista--item {
          padding-top: 1rem;
      }

      .programacao__texto {
        font-size: var(--size-base);
    }
}

/* lg */
@media (min-width: 1024px) {


    .programacao__title {
        font-size: var(--size-4xL);
    }
    
    .programacao__subtitle {
        font-size: var(--size-4xL);
    }

    .programacao__title:before {
        margin-bottom: .6rem;
        height: 4px;
    }
    
    .programacao__description {
        font-size: var(--size-lg);
    }

    .programacao__img--wrapper {
        min-width: 50%;
    }

    
    .programacao__link {
        font-size: var(--size-lg);
    }

    .programacao__info {
        gap: 1rem;
        font-size: var(--size-lg);    
    }
    
    
    .programacao__info--item svg {
        width: var(--size-3xL);
        height: var(--size-3xL);    
    }

    .programacao__section {
        font-size: var(--size-lg);
    }

    .programacao__label {
        font-size: var(--size-lg);
      }

    .programacao__lista--item {
        padding-top: 2rem;
    }
  
    .programacao__texto {
        font-size: var(--size-lg);
    }



}

/* xL  (gap:2rem)*/
/* @media (min-width: 1280px) {} */

/* 2xL */
/* @media (min-width: 1536px) {} */